[Aa]ssets/AssetStoreTools*
[Ll]ocal[Cc]ache/

[Uu]nityGenerated/
# file on crash reports
sysinfo.txt

###
# VS/MD solution and project files
###
[Ee]xportedObj/




###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db